@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/* Move these styles to a separate non-module CSS file */
body {
  /* @apply text-dark; */
  background: var(--background);
  font-family: Montserrat, sans-serif;
}

a{
  font-family: Montserrat, sans-serif;
}

@layer utilities {
  
  /* .bg-gray { @apply bg-gray-0; } */
  /* .bg-purple {
    @apply bg-purple-0 text-light;
    
  } */
  
  /* .bg-primary { @apply bg-light-indigo-50; }
  .bg-secondary { @apply bg-light-teal-200; }
  .bg-secondary-light { @apply bg-light-teal-100; }
  .bg-tertiary { @apply bg-light-indigo-700; }
  .bg-quaternary { @apply bg-light-indigo-900; } */
  
}

@layer base {
  a {
    @apply font-sans text-base font-normal not-italic leading-[1.4] tracking-normal text-left text-link-blue underline;
  }
}

@layer components {
 
  
  /* .btn-primary {
    @apply px-3 lg:px-4 btn justify-center bg-white text-black border border-black rounded-full uppercase font-bold text-base relative;
    box-shadow: 3px 3px 0 0 transparent;
  } */
  
/*   
  .btn-secondary {
    @apply btn justify-center border-2 border-button-secondary text-button-secondary transition-colors duration-300 ease-in-out;
  }
  .btn-secondary:hover {
    @apply bg-white bg-opacity-20 cursor-pointer;
  } */

}

