@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/* Move these styles to a separate non-module CSS file */
body {
  /* @apply text-dark; */
  background: var(--background);
  font-family: Montserrat, Jost, sans-serif;
}

a {
  font-family: Montserrat, Jost, sans-serif;
}

@layer utilities {
  /* .bg-gray { @apply bg-gray-0; } */
  /* .bg-purple {
    @apply bg-purple-0 text-light;
    
  } */

  .text-13 {
    @apply text-13px font-normal leading-tight tracking-tight;
  }

  .text-16 {
    @apply text-base font-normal leading-tight tracking-tight;
  }

  .text-20 {
    @apply text-xl font-normal leading-tight tracking-wide;
  }

  .text-22 {
    @apply text-1.5xl font-semibold leading-tight tracking-normal;
  }

  .text-24 {
    @apply text-2xl font-semibold leading-tight tracking-tight;
  }


  .text-36 {
    @apply text-4xl font-semibold leading-tight tracking-tight;
  }


  .text-56 {
    @apply text-5.5xl font-semibold tracking-tight leading-16;
  }

  .text-64 {
    @apply text-6.5xl font-bold leading-22 tracking-tight;
  }

  .text-76 {
    @apply text-7.5xl font-bold leading-21 tracking-tight;
  }

  /* .bg-primary { @apply bg-light-indigo-50; }
  .bg-secondary { @apply bg-light-teal-200; }
  .bg-secondary-light { @apply bg-light-teal-100; }
  .bg-tertiary { @apply bg-light-indigo-700; }
  .bg-quaternary { @apply bg-light-indigo-900; } */
}

/* @layer base {
  a {
    @apply font-sans text-base font-normal not-italic leading-[1.4] tracking-normal text-left text-link-blue underline;
  }
} */

@layer components {
  /* .btn-primary {
    @apply px-3 lg:px-4 btn justify-center bg-white text-black border border-black rounded-full uppercase font-bold text-base relative;
    box-shadow: 3px 3px 0 0 transparent;
  } */

  .btn-primary {
    @apply px-5  rounded-26 h-11 flex items-center justify-center border-1.5 text-sm leading-6 font-semibold border-dark-blue text-dark-blue hover:text-white hover:bg-reddish-dark hover:border-reddish-dark transition-colors duration-300 ease-in-out;
  }

  .btn-secondary {
    @apply px-3 justify-center h-11 rounded-26 border-1.5 min-w-36  text-sm leading-6 bg-reddish-orange border-reddish-orange font-semibold  text-offWhite hover:bg-reddish-dark hover:border-reddish-dark transition-colors duration-300 ease-in-out;
  }
  /* 
  .btn-secondary:hover {
    @apply bg-white bg-opacity-20 cursor-pointer;
  } */
}
